DB_USER=user
DB_PASSWORD=
JWT_SECRET=

EMPLOYEE_CODE=
CREW_CODE=

EMAIL=your email of choice
# To get EMAIL_APP_PASSWORD, go to your Google account linked to the
# email -> two factor authorization and set up if not -> go to app password in
# 2FA and hit create app password. Copy and paste that in .env
EMAIL_APP_PASSWORD=
