DB_USER=user
DB_PASSWORD=
JWT_SECRET=sfgdsfgdgfhdfgh


EMAIL = your email of choice
EMAIL_APP_PASSWORD = 

to get EMAIL_APP_PASSWORD goto your google account linked to the email -> two factor authorization and set up if not -> go to app password in 2FA and hit create app passoword. Copy and paste that in env